@import "tailwindcss";

:root {
  --background: #000101;
  --foreground: #dfdfdf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ffcb05;
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-qurova-demo);
}

@utility bg-glass-gradient-s {
  @apply bg-[linear-gradient(271deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)] backdrop-blur-xl rtl:bg-[linear-gradient(89deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)];
}

@utility bg-glass-gradient-e {
  @apply bg-[linear-gradient(89deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)] backdrop-blur-xl rtl:bg-[linear-gradient(271deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)];
}

@utility bg-glass {
  @apply bg-white/10 backdrop-blur-3xl;
}

@utility border-gradient-s {
  @apply relative before:absolute before:inset-0 before:-z-10 before:rounded-[inherit] before:bg-[linear-gradient(90deg,rgba(204,204,204,0.5)_-16.65%,rgba(86,86,86,0.5)_119.21%)] before:p-[1px] before:content-[''] rtl:before:bg-[linear-gradient(270deg,rgba(204,204,204,0.5)_-16.65%,rgba(86,86,86,0.5)_119.21%)];

  &::before {
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@utility border-gradient-e {
  @apply relative before:absolute before:inset-0 before:-z-10 before:rounded-[inherit] before:bg-[linear-gradient(270deg,rgba(204,204,204,0.5)_-16.65%,rgba(86,86,86,0.5)_119.21%)] before:p-[1px] before:content-[''] rtl:before:bg-[linear-gradient(90deg,rgba(204,204,204,0.5)_-16.65%,rgba(86,86,86,0.5)_119.21%)];

  &::before {
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

*.container {
  @apply mx-auto px-4;
}

body {
  background-color: var(--background);
}
