@import "tailwindcss";

:root {
  --background: #000101;
  --foreground: #dfdfdf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ffcb05;
  --font-sans: var(--font-aeonik);
  --font-serif: var(--font-montserrat-arabic);
}

@utility bg-glass-gradient-s {
  @apply bg-[linear-gradient(271deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)] backdrop-blur-xl rtl:bg-[linear-gradient(89deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)];
}

@utility bg-glass-gradient-e {
  @apply bg-[linear-gradient(89deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)] backdrop-blur-xl rtl:bg-[linear-gradient(271deg,rgba(255,255,255,0.13)_-16.65%,rgba(153,153,153,0.13)_119.21%)];
}

@utility bg-glass {
  @apply bg-white/10 backdrop-blur-3xl;
}

@utility border-gradient-s {
  @apply relative before:absolute before:inset-0 before:-z-10 before:rounded-[inherit] before:bg-[linear-gradient(90deg,var(--tw-border-gradient-from-stop)_-16.65%,var(--tw-border-gradient-to-stop)_119.21%)] before:p-[var(--tw-border-gradient-width)] before:content-[''] rtl:before:bg-[linear-gradient(270deg,var(--tw-border-gradient-from-stop)_-16.65%,var(--tw-border-gradient-to-stop)_119.21%)];

  &::before {
    --tw-border-gradient-width: 1px;
    --tw-border-gradient-from-stop: rgba(204, 204, 204, 0.5);
    --tw-border-gradient-to-stop: rgba(86, 86, 86, 0.5);

    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@utility border-gradient-e {
  @apply relative before:absolute before:inset-0 before:-z-10 before:rounded-[inherit] before:bg-[linear-gradient(270deg,var(--tw-border-gradient-from-stop)_-16.65%,var(--tw-border-gradient-to-stop)_119.21%)] before:p-[var(--tw-border-gradient-width)] before:content-[''] rtl:before:bg-[linear-gradient(90deg,var(--tw-border-gradient-from-stop)_-16.65%,var(--tw-border-gradient-to-stop)_119.21%)];

  &::before {
    --tw-border-gradient-width: 1px;
    --tw-border-gradient-from-stop: rgba(204, 204, 204, 0.5);
    --tw-border-gradient-to-stop: rgba(86, 86, 86, 0.5);

    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@utility border-gradient-from-* {
  &::before {
    --tw-border-gradient-from-stop: --value(--color-*, [*]);
  }
}

@utility border-gradient-to-* {
  &::before {
    --tw-border-gradient-to-stop: --value(--color-*, [*]);
  }
}

@utility border-gradient-* {
  &::before {
    --tw-border-gradient-width: --spacing(--value(number, [*]));
  }
}

*.container {
  @apply mx-auto px-4;
}

body {
  background-color: var(--background);
}
